.footer-content{
    height: 450px; 
    display: flex; 
    padding-top: 0px; 
    background-color: #161f1e;
    margin-top: 0px;
    margin-bottom: -10px;
    
}

.left{
    width: 50%;
    color: #ffff;
}

.right{
    margin-top: 50px; 
    width: 50%; 
    display: flex; 
    justify-content: space-evenly; 
    display: flex;
}

.image_Style{
    margin-top: 50px; 
    margin-left: 100px;
}

.text_style{
    margin-top: 220px; 
    margin-left: 120px;
    color: #777;
    font-size: .75rem; 
    font-weight: bolder;
}

.Inner-content{
    color: hsla(0,0%,100%,.75);
    margin-bottom : 10px;
    font-size: x-small; 
    font-weight: bold;
    line-height: 3;
}

.Innercontent{
    color: #ffff; 
    margin-bottom: 10px;
    font-size: medium;
    line-height: 2;
    
}